.auth {
    &-container {
        display: flex;
        overflow-x: hidden;
        transition: .5s all ease-in-out;
        background: linear-gradient(180deg, #ff930f 0%, #fff95b 100%);
        &-login, &-signup {
            transition: .5s all ease-in-out;
            min-width: 100vw;   
            height: 100vh;
            display: flex;
            align-items: center;
            padding: 0 50px;
            &-form {
                width: 100%;
                height: fit-content;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                border-radius: 50px;
                background-color: rgba($color: #fff, $alpha: .6);
                padding: 20px 50px;

                h3 {
                    font-size: 40px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: brown;
                }

                &-field {
                    width: 100%;
                    input {
                        width: 100%;
                        font-family: 'Inter';
                        border: none;
                        &[type="text"], &[type="password"], &[type="email"] {
                            background-color: transparent;
                            border-bottom: 2px solid brown;
                            outline: none !important;
                        }
                        &[type="submit"] {
                            padding: 10px 0;
                            font-size: 16px;
                            text-transform: uppercase;
                            background-color: brown;
                            color: #fff;
                            border: 1px solid brown;
                            transition: .3s all ease-in-out;
                            font-weight: 600;
                            &:hover {
                                background-color: #fff;
                                color: brown;
                            }
                        }
                        
                    }
                }
            }
            
            &.triggered {
                transform: translate(-100vw, 0);
            }
        }
    }
}